/* Скидання стилів */
@import url("reset.css");

* {
	 /*color: red;*/ 
}

p {
	 color: grey; 
}

h1 {
	 color: black; 
}

a {
	 color: lightblue; 
}

.yellow {
	 color: #ffd500;
}

.blue {
	color: blue;
}

.title {
	 color: wheat; 
}

#unique {
	color: yellow;
}

[class*="lis"] {
	 color: lightcoral;
}

div.text {
	 color: violet;
}

.text.second {
	 color: lightpink; 
}

.list,
.text,
li {
	 /*color: whitesmoke;*/
}

.text a {
	 color: magenta; 
}
.content a {
	color: blue;
}
.container__sub-article p {
	 color: red; 
}

.list .blue-text {
	 color: blue; 
}

/* Усі об'єкти в середені 
об'єктів з класом lesson */
.lesson * {
	 color: green; 
}

/* Усі теги P першого рівня (безпосередні) 
	в середені об'єктів з класом lesson 
*/
.lesson > p {
	 color: red; 
}

/*
Усі теги P які знаходяться 
далі по коду після об'єктів з класом lesson
та мають той самий рівень вкладеності
*/
.lesson ~ p {
	 color: pink
}

/*
Тег P який знаходяться беспосередньо 
далі по коду після об'єктів з класом lesson
та мають той самий рівень вкладеності
*/
.lesson + p {
	 color: lightcoral; 
}

/* -------- ПРІОРИТЕТ СЕЛЕКТОРІВ ------------ */

/*
	Основні правила формування пріоритетів: 
	1) У випадку рівнозначних селекторів більший 
		пріоритет буде у останього (нижчого) по коду.
		(Селектор класу та селектор атрибуту - рівнозначні)
	2) Більший пріоритет завжди буде у селектора,
		який звужує (уточює, конкретизує) пошук (запит).
	3) Пріоритет у рядкових (inline) стилів 
		(атрибут style="") вищий ніж у стилів 
		з окремого файлу (наприклад style.css)
	4) Флаг !important перезаписує пріоритет (не рекомендується)
		При використанні, ви точно маєте розуміти що робите
*/

[class*="tex"] {
	/* color: blue; */
}
.text {
	/* color: red; */
}

#some-id {
	color: yellowgreen;
}

/* 
Приорітет комбінацій випливає з правила №2 
Чим точніше запит (комбінація) тим вона приорітетніше
*/

p.text {
	/* color: blue; */
}
.text {
	/* color: green; */
}
p {
	/* color: red; */
}

/* Популярні питання */

/* 
В чому різниця між .page__text.text та .page__text .text?
*/

/* Звертаємось до об'єктів 
	у якого ОДНОЧАСНО є клас 
	page__text та клас text 
*/
.page__text.text {
}

/* Звертаємось до об'єктів з класом text,
	які вкладені в об'єкти з класом page__text */
.finally.sub-finally {
	/*color: aquamarine;*/
}
