@font-face {
	font-family: 'Veles';
	src: url('../fonts/Veles-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Veles';
	src: url('../fonts/Veles-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Misto';
	src: url('../fonts/Misto.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}